**/.DS_Store
.vscode
**/build
**/__pycache__
**/*.pyc
**/test.py
**/*.log
**/log/
**/*.egg-info
**/*build
scripts/test_state_est.py
scripts/inputdata.txt
scripts/test_joystick.py

Thirdparty/wiki-gr1-cpp/build/
Thirdparty/wiki-gr1-cpp/pybind11/
Thirdparty/wiki-gr1-cpp/.gitignore

**/models-gr1/
scripts/actions/

**/sensor_offset.txt
state_estimator/*.so

**/.idea/

scripts/sensor_offset.json
